input, textarea {
    background: none;
    border: 0.1em ridge green;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

.icon {
    width: 16px;
    height: 16px;
}

.scroll {
    margin: 1em 0.5em;
    padding: 1em 1em;
    border-radius: 1em;
    background: #f0fff0;
}

.scroll-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
